<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82614062214-g2b970mdo2qvdh9opp4lrum37q9ae2kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82614062214-g2b970mdo2qvdh9opp4lrum37q9ae2kj</string>
	<key>API_KEY</key>
	<string>AIzaSyAIFsF_I7Qs3WUYvIIJWrLiywxtUvf42Lw</string>
	<key>GCM_SENDER_ID</key>
	<string>82614062214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edugogy.vocabapp</string>
	<key>PROJECT_ID</key>
	<string>edugogy-1649659477100</string>
	<key>STORAGE_BUCKET</key>
	<string>edugogy-1649659477100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82614062214:ios:2ac92524e1fc818c5f9507</string>
</dict>
</plist>